{% set active_nav_item = "downloads" %}
{% if admin_view %}
    {% set active_nav_item = "admin" %}
{% endif %}
{% set title="Downloads" %}
{% extends "base.html" %}
{% block content %}
    <div class="w3-row"></div>
        <div class="w3-twothird">
            <p>These are the groups of items that you've requested to be downloaded or can submit for downloading.</p>
            <table class="w3-table w3-bordered">
                <tr>
                    <th>Number</th>
                    <th>Details</th>
                    <th>Action</th>
                </tr>
                {% for item in download_sets %}
                    <tr>
                        <td style="vertical-align: middle;">{{ loop.index }}</td>
                        <td style="vertical-align: middle;">
                            <table class="item-details">
                                <tr>
                                    <td class="item-details-label"> Items</td>
                                    <td>{{ count_items_in_ds(item.user_id, item.id) }}</td>
                                </tr>
                                {% for prop_name, prop_val in item.get_properties_for_display(current_user.is_admin) %}
                                    <tr>
                                        <td class="item-details-label">{{ prop_name }}</td>
                                        {% if prop_name == "Status" %}
                                            <td class="status {{ prop_val | status_color_ds }}">{{ prop_val }}</td>
                                        {% else %}
                                            <td>{{ prop_val }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td style="vertical-align: middle;">
                            <ul class="action-buttons">
                                <li>
                                    {% if item.is_todo() and admin_view %}
                                        <button type="button" class="w3-btn w3-grey w3-round" onclick="location.href='{{ url_for('admin.view_download_set', user_id=item.user_id, download_set_id=item.id) }}'">Edit</button>
                                    {% elif item.is_todo() %}
                                        <button type="button" class="w3-btn w3-grey w3-round" onclick="location.href='{{ url_for('todo.display_todo') }}'">Edit</button>
                                    {% elif admin_view %}
                                        <button type="button" class="w3-btn w3-grey w3-round" onclick="location.href='{{ url_for('admin.view_download_set', user_id=item.user_id, download_set_id=item.id) }}'">View</button>
                                    {% else %}
                                        <button type="button" class="w3-btn w3-grey w3-round" onclick="location.href='{{ url_for('downloads.view_download_set', id=item.id) }}'">View</button>
                                    {% endif %}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}