{% set active_nav_item = "downloads" %}
{% set meta_auto_refresh = "60" %}
{% set title="View Download Set" %}
{% extends "base.html" %}
{% block content %}
    <div class="w3-row"></div>
        <div class="w3-twothird">
            <p>Details for Download Set created on {{ download_set.created_datetime | datetime_to_display }}.</p>
            <h3>Download Set:</h3>
            <table class="item-details">
                {% for prop_name, prop_val in download_set.get_properties_for_display() %}
                    <tr>
                        <td class="item-details-label">{{ prop_name }}</td>
                        {% if prop_name == "Status" %}
                            <td class="status {{ prop_val | status_color_ds }}">{{ prop_val }}</td>
                        {% else %}
                            <td>{{ prop_val }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <h3>Items in Set:</h3>
            {% if download_set.is_terminated() and (download_set.id | has_failed_items) %}
                <div class="w3-section">
                    <form method="POST" action="{{ url_for('downloads.add_all_failed_items_to_todo', download_set_id=download_set.id) }}" class="w3-container w3-right">
                        <input type="submit" class="input-button w3-btn w3-grey w3-round" value="Add Failed to To Do"/>
                    </form>
                </div>
            {% endif %}
            <table class="w3-table w3-bordered">
                <tr>
                    <th>Number</th>
                    <th>Details</th>
                    <th>Actions</th>
                </tr>
                {% for item in download_set.items %}
                    <tr>
                        <td style="vertical-align: middle;">{{ loop.index }}</td>
                        <td style="vertical-align: middle;">
                            <table class="item-details">
                                {% for prop_name, prop_val in item.get_properties_for_display() %}
                                    <tr>
                                        <td class="item-details-label">{{ prop_name }}</td>
                                        {% if prop_name == "Status" %}
                                            <td class="status {{ prop_val | status_color_di }}">{{ prop_val }}</td>
                                        {% else %}
                                            <td>{{ prop_val }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% if item.id | is_item_copied_to_todo %}
                                    <tr>
                                        <td class="item-details-label">Copied to To Do</td>
                                        <td>Yes</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </td>
                        {% if download_set.is_completed() and item.is_failed() %}
                            <td style="vertical-align: middle;">
                                <ul class="action-buttons">
                                    <li>
                                        <form method="POST" action="{{ url_for('downloads.add_failed_item_to_todo', download_set_id=download_set.id, item_id=item.id) }}" class="w3-container">
                                            <input type="submit" class="input-button w3-btn w3-grey w3-round" value="Add to To Do"/>
                                        </form>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}