{% set title="Authenticate" %}
{% set class_input="w3-input w3-left" %}
{% set class_invalid_input="w3-input w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-red" %}
{% set class_invalid_message="w3-margin-left w3-text-red" %}
{% extends "base.html" %}
{% block content %}
{% if is_environment_development() %}
Alice: NDc2MjZmZTItNGRlYi00Yjc0LTkxZmUtNzVkNzRjNjQzMTBmX2MxMzUxZDIzLWFmYmMtNGZiYS1hN2Q0LWZhMGY5ZTE4MjIxYg==
<BR/>
Bob: MjIzNGQ0ZTEtY2Q2MS00ZTAzLTkxNjEtZTg4ZmNlMjhkNjA2XzFiOWJmNGEwLTc3MGItNDI1Ny04MzZmLTc1ZTU3OGQ0YTUxOA==
{% endif %}
    <div class="w3-row">
        <div class="w3-twothird">
            <form method="POST" action="" class="w3-container">
                {{ form.hidden_tag() }}
                <fieldset>
                    <table>
                        <tr style="visibility: collapse;">
                            <td style="width: 10em;">&nbsp;</td>
                            <td style="width: 100%;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="item-details-label">{{ form.access_token.label }}</td>
                            <td>
                                {% if form.access_token.errors %}
                                    {{ form.access_token(class=class_invalid_input) }}
                                    <div class="{{ class_invalid_message }}">
                                        {% for error in form.access_token.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.access_token(class=class_input) }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <div class="w3-section">
                    {{ form.submit(class="input-button w3-btn w3-grey w3-round w3-margin") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}