html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-bottom: 50px;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.non-mobile-flash-message {
    margin-left: 30%;
    width: 40%;
}

.item-details-url {
    font-family: monospace;
}

button a {
    cursor: inherit;
    text-decoration: none;
}

table.item-details tr td {
    padding: 0px;
    text-align: left;
    vertical-align: middle;
}

table.item-details tr td.item-details-label {
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
    min-width: 7em;
}

table.item-details tr td input#audio_only {
    max-width: 3em;
}

ul.action-buttons {
    list-style-type: none;
}

ul.action-buttons li {
    margin-top: 4px;
    margin-bottom: 4px;
}

ul.action-buttons li button {
    min-width: 100px;
}


