{% set active_nav_item = "admin" %}
{% set title="Admin: Users" %}
{% extends "base.html" %}
{% block content %}
<div class="w3-row">
    <div class="w3-twothird">
        <p>The messages recorded from the worker. Current time is: {{ current_time | datetime_to_display }}.</p>
        <table class="w3-table w3-bordered">
            <tr>
                <th style="width:15%">Name</th>
                <th>Email</th>
                <th>Download Sets</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="{{ url_for('admin.view_user_downloads', user_id=user.id) }}">{{ count_download_sets(user.id) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}