{% extends "base.html" %}
{% block content %}
    <h2>A list of items to be downloaded</h2>
    <p>This is a description of what the queue is for.</p>
    <div class="w3-section">
        <button type="button" class="w3-btn w3-grey w3-round"><a href="{{ url_for('queue.add_item') }}">Add</a></button>
    </div>
    <div class="w3-row">
        <table class="w3-twothird w3-table w3-bordered">
            <tr>
                <th>Item</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
            {% for item in queue %}
                <tr>
                    <td style="vertical-align: middle;">{{ loop.index }}</td>
                    <td style="vertical-align: middle;">
                        <table class="item-details">
                            <tr>
                                <td class="item-details-label">Title</td>
                                <td>{{ item['Title'] }}</td>
                            </tr>
                            <tr>
                                <td class="item-details-label">Audio Only</td>
                                <td>{{ item['AudioOnly'] }}</td>
                            </tr>
                            <tr>
                                <td class="item-details-label">URL</td>
                                <td class="item-details-url"><a target="_blank" href="{{ item['Url'] }}" >{{ item['Url'] }}</a></td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: middle;">
                        <ul class="action-buttons">
                            <li><button type="button" class="w3-btn w3-grey w3-round"><a href="{{ url_for('queue.edit_item', id=item['Id']) }}">Edit</a></button></li>
                            <li><button type="button" class="w3-btn w3-grey w3-round"><a href="{{ url_for('queue.confirm_delete_queue_item', id=item['Id']) }}">Delete</a></button></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="w3-section">
        <button type="button" class="w3-btn w3-grey w3-round"><a href="{{ url_for('queue.add_item') }}">Add</a></button>
    </div>
{% endblock content %}