[Unit]
Description=Runs the WSGI server for Video DL application.

[Service]
ExecStart={{ REMOTE_APP_DIR }}/.venv/bin/gunicorn --workers 3 --bind {{ REMOTE_WSGI_BIND_ADDR }} app:app
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target