{% set active_nav_item = "todo" %}
{% set title="To Do - Delete Item" %}
{% extends "base.html" %}
{% block content %}
    <h2>Confirm delete todo item</h2>
    <p>Are you sure you want to remove the following item from the todo?</p>
    <form method="POST" action="" class="w3-container">
        {{ form.hidden_tag() }}
        <table class="item-details">
            <tr>
                <td class="item-details-label">Title</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td class="item-details-label">Audio Only</td>
                <td>{{ form.audio_only }}</td>
            </tr>
            <tr>
                <td class="item-details-label">URL</td>
                <td class="item-details-url">
                    <a target="_blank" href="{{ form.url }}" >{{ form.url }}</a>
                </td>
            </tr>
        </table>
        <div class="w3-section">
            {{ form.submit(class="input-button w3-btn w3-grey w3-round w3-margin") }}
            <button type="button" class="w3-btn w3-grey w3-round w3-margin" onclick="location.href='{{ url_for('todo.display_todo') }}'">No, go back.</button>
        </div>
    </form>
{% endblock content %}