{% set active_nav_item = "todo" %}
{% set title="To Do - Delete Item" %}
{% extends "base.html" %}
{% block content %}
    <h2>Confirm delete todo item</h2>
    <p>Are you sure you want to remove the following item from the todo?</p>
    <form method="POST" action="" class="w3-container">
        {{ form.hidden_tag() }}
        <table class="item-details">
            {% for prop_name, prop_val in form.get_properties_for_display() %}
                <tr>
                    {% if prop_name != "Status" %}
                        <td class="item-details-label">{{ prop_name }}</td>
                        {% if prop_name == "URL" %}
                            <td class="item-details-url"><a target="_blank" href="{{ form.url }}" >{{ form.url }}</a></td>
                        {% else %}
                            <td>{{ prop_val }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="w3-section">
            {{ form.submit(class="input-button w3-btn w3-grey w3-round w3-margin") }}
            <button type="button" class="w3-btn w3-grey w3-round w3-margin" onclick="location.href='{{ url_for('todo.display_todo') }}'">No, go back.</button>
        </div>
    </form>
{% endblock content %}